{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.fit {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/clipboard.min.js') }}"></script>
<script type="text/javascript">
var img;
var fullscreen = false;  //initial state
var camera_id = {{ camera_id }};
var image_id = {{ image_id }};
var file_view = "{{ file_view }}";
var image_url = "{{ image_url }}";
</script>
{% endblock %}

{% block content %}
<style>
    .allsky-workspace-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        width: 100%;
    }
    @media (min-width: 1024px) {
        .allsky-workspace-grid {
            grid-template-columns: 2fr 1fr !important;
            align-items: start;
        }
    }
    /* Enforce modern responsive image containment without stretching */
    .allsky-fit-canvas {
        max-width: 100%;
        max-height: 70vh;
        object-fit: contain;
    }
</style>

<div class="tw:container tw:h-full tw:mx-auto tw:flex tw:flex-col tw:gap-4">

    <div class="tw:w-full tw:bg-base-200 tw:p-4 tw:rounded-xl tw:border tw:border-base-content/10">
        <h3 class="tw:text-sm tw:font-bold tw:tracking-wide tw:text-base-content tw:m-0">
            {{ createDate_full }} - {{ timeofday }}
        </h3>
    </div>

    <div class="tw:w-full">
        <hr class="tw:border-base-content/10 tw:m-0">
    </div>

    <div class="allsky-workspace-grid tw:w-full tw:grow">
        
        <div class="tw:w-full tw:flex tw:flex-col tw:items-center tw:justify-center tw:bg-neutral tw:p-4 tw:rounded-xl tw:border tw:border-base-content/10">
            
            <img id="image" class="allsky-fit-canvas tw:rounded-lg tw:shadow-2xl tw:bg-black/40" alt="Allsky Capture Frame">

            <div class="tw:flex tw:items-center tw:justify-center tw:gap-4 tw:mt-5">
                <span id="permalink" class="tw:inline-flex tw:items-center"></span>
                <span id="download" class="tw:inline-flex tw:items-center"></span>
            </div>
            
        </div>

        <div class="tw:w-full">
            </div>

    </div>

</div>

<script>

function showImage(url) {
    console.log('Showing image ' + url);

    img = new Image();
    img.onload = function() {
        $('#image').attr({
            'src': this.src,
        });
    };


    img.src = url;
}

function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    showImage(image_url);
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



function init() {
    new ClipboardJS('.copy-clipboard');


    showImage(image_url);


    $('#permalink').html(
        $('<span />', {
            'text'  : "Copy Link to Clipboard",
            'class' : "badge pill bg-primary copy-clipboard",
            'style' : "cursor: pointer;",
            'data-clipboard-text' : "{{ url_for(file_view, _external=True) }}?id=" + image_id,
        })
    );
    $('#download').html(
        $('<a />', {
            'href' : "{{ image_url }}",
            'rel' : "noopener noreferrer",
            'download' : '',
        }).html(
            $('<span />', {
                'text'  : 'Download',
                'class' : "badge pill bg-danger",
            })
        )
    );
}

$( document ).ready(function() {
    $('#image').on("click", function() {
        goFullscreen(this);
    });

    init();
});
</script>


{% endblock %}
